<h2><i class="fa fa-calculator"> </i> Compound Interest Calculator</h2>
<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-6 control-label">Current Principal</label>
        <div class="col-sm-6">
          {{input type="number" class="form-control" value=currentPrincipal disabled=false}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Annual Addition</label>
        <div class="col-sm-6">
          {{input type="number" class="form-control" value=annualAddition disabled=false}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Years to Grow</label>
        <div class="col-sm-6">
          {{input type="number" class="form-control" value=yearsToGrow disabled=false}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Interest Rate</label>
        <div class="col-sm-6">
          {{input type="number" class="form-control" value=interestRate disabled=false}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Future Value</label>
        <div class="col-sm-6">
          {{input type="number" class="form-control" value=futureValue disabled=true}}
        </div>
      </div>
    </form>
  </div>
</div>
{{outlet}}
